# pre-commit configuration file
.pre-commit-config.yaml

# Kubernetes kubeconfig file
kubeconfig*.conf*

# Vuepress Pages
docs/.vuepress/dist
docs/.vuepress/.temp/
docs/.vuepress/.cache/

# tmp directory
tmp/

# Node modules
node_modules/
